@import url("hhtps://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* SECTION/BACKGROUND */
.bg {
  background: url("../images/bg.jpg") no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 70px);
  height: calc(100vh + 70px);
  z-index: -1;
  filter: blur(0px);
}

/* LOADING-TEXT */
.loading-text {
  font-size: 50px;
  color: #fff;
}
